
.Person {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    max-width: 35em;
    max-height: 15em;
    font-size: calc(5px + 2vmin);
    text-align: left;
    padding: 0.5em;
    float: left;
    border: 1px solid;
    margin-right: 0.5em;
}
.Person .Picture {
    float: left;
    padding: 0.5em
}

.Person .Picture img {
    max-width: 200px;
    max-height: 200px;
}

.Person .information {
    overflow: scroll;
    height: 12em;
    padding: 0.5em
}

.Person .Header {
    height: calc(27px + 2vmin);
}

.Person .Name {
    font-style: bold;
    font-size: calc(15px + 2vmin);
    background: #444444;
    padding: 0.2em;
    text-align: center;
}
.Person .Country, .Person .Dates, .Person .Tags{
    float: left;
    font-style: bold;
    padding: 0.3em
}
.Person .History {
    clear: both;
    overflow: scroll;
    margin-bottom: 0.5em;
}

.Person .More {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    float: right;
}