.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App .content {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.App-link {
  color: #61dafb;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  list-style: none;
  background-color: #282c34;
  text-align: center;
  padding: 0;
  margin: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  transition: .3s background-color;
}

ul.header a:hover{
  background-color: #005f5f;
  color: #FFF;
}

ul.header .active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
